@import '../../var/_config';

.x-btn-floating-action {
  color: $floating-action-button-color;
  background-color: $floating-action-button-background-color;
  font-size: 24px;

  @include border-radius(50%);

  @include transition(all .3s ease-out);

  @extend .z-depth-1-half;

  &:hover:not(.x-btn-disabled) {
    @extend .z-depth-2-dark;
  }
}

.x-btn-floating-action-green{
  @extend .x-btn-floating-action;
  color:white;
  background-color:$green
}

.x-btn-floating-action-green:hover{
  @extend .z-depth-2-dark;
}

.x-btn-floating-action-orange{
  @extend .x-btn-floating-action;
  color:white;
  background-color:$orange
}