$tab-border-radius:0px;
$tab-border-width:0px;
$tab-border-color: transparent;
$tab-border-color-focus:transparent;
$tab-border-color-focus-active:transparent;
$tab-border-color-active: transparent;

$tab-background-gradient:traparent;
$tab-background-gradient-active: '';
$tab-background-gradient-disabled:'';
$tab-background-gradient-over: '';
$tab-background-gradient-focus: '';
$tab-background-gradient-focus-over:'';
$tab-background-gradient-focus-active:'';

//$tabbar-strip-height:1px;

$tab-inner-border-width-focus: 0px !default;