@import '../_config';

$button-default-background-gradient:null;
$button-default-background-gradient-focus:null;
$button-default-background-gradient-focus-pressed:null;
$button-default-background-gradient-over: null;

$button-default-base-color:transparent;
$button-default-color:$light-blue;

$button-default-base-color-disabled: $steel;

/* no borders on buttons ever */
$button-default-border-color:transparent;
$button-default-border-color-disabled: transparent;
$button-default-border-color-focus:transparent;
$button-default-border-color-focus-over:transparent;
$button-default-border-color-focus-pressed:transparent;
$button-default-border-color-over:transparent;
$button-default-border-color-pressed: transparent;
$button-default-inner-border-color: transparent;
$button-default-inner-border-color-disabled:transparent;
$button-default-inner-border-color-focus:transparent;
$button-default-inner-border-color-focus-over:transparent;
$button-default-inner-border-color-focus-pressed: transparent;
$button-default-inner-border-color-pressed: transparent;

$button-default-base-color-focus: transparent;
$button-default-base-color-over:#e9e9e9;

//$button-small-font-size: $font-size*1.1;
